css

body {
    margin: 0;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    width: 85%;
    height: 80%;
    background-color: aqua;
    box-shadow: 4px 4px 12px white;
    padding: 15px;
}

.grid-element{
    overflow: hidden;
    position: relative;
}

.first{
    grid-row: 1/2;
    grid-column: 1/span 1;
    background-color: blueviolet;
}

.second{
    grid-row: 2/2;
    grid-column: 2/span 1;
    background-color: blue;
}

.third{
    grid-row: 1/2;
    grid-column: 3/span 1;
    background-color: red;
}

.forth{
    grid-row: 2/1;
    grid-column: 1/span 1;
    background-color: green;
}

.fifth{
    grid-row: 3/3;
    grid-column: 3/span 2;
    background-color: purple;
}