css

body {
    margin: 0;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10vh;
    height: 100vh;
}

.grid_container div {
    border-radius: 6px;
}

.grid_element_first{
    grid-column: span 2;
    background-color: blueviolet;
}

.grid_element_second{
    grid-column: span 2;
    grid-row: span 2;
    background-color: blue;
}

.grid_element_third{
    grid-column: span 2;
    background-color: red;
}

.grid_element_fourth{
    grid-column: span 2;
    grid-row: span 2;
    background-color: green;
}

.grid_element_fifth{
    grid-column: span 1;
    background-color: purple;
}

.grid_element_sixth{
    grid-column: span 1;
    background-color: greenyellow;
}

.grid_element_seventh{
    grid-column: span 2;
    grid-row: span 2;
    background-color: aqua;
}

.grid_element_eight{
    grid-column: span 2;
    background-color: aquamarine;
}

.grid_element_ninth{
    grid-column: span 1;
    grid-row: span 2;
    background-color: yellow;
}
